@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700,900);
/*Theme Colors*/
/*bootstrap Color*/
/*Normal Color*/
/*Border radius*/
/*Preloader*/
.preloader {
  width: 100%;
  height: 100%;
  top: 0px;
  position: fixed;
  z-index: 99999;
  background: #fff;
}
.preloader .cssload-speeding-wheel {
  position: absolute;
  top: calc(50% - 3.5px);
  left: calc(50% - 3.5px);
}
/*Just change your choise color here its theme Colors*/
body {
  background: #fff;
}
.top-left-part {
  background: #fff;
}
.top-left-part .dark-logo {
  display: none;
}
.top-left-part .light-logo {
  display: inline-block;
}
.logout-btn .btn-danger{
  background: #800000;
}
/*Top Header Part*/
.logo i {
  color: #ffffff;
}
.top-left-part .logo img{
  height: 110px;
}
.navbar-header {
  background: #2f323e;
  height: 60px;
}
.navbar-top-links > li > a {
  color: #ffffff;
}
.sidebar .sidebar-head {
  background: #ffffff;
}
.sidebar .sidebar-head h3 {
  color: #686868;
}
/*Right panel*/
.right-sidebar .rpanel-title {
  background: #800000;
}
/*Bread Crumb*/
.bg-title .breadcrumb .active {
  color: #800000;
}
/*Sidebar*/
.sidebar {
  background: #fff;
  box-shadow: 1px 0px 20px rgba(0, 0, 0, 0.08);
}
.sidebar .label-custom {
  background: #01c0c8;
}
#side-menu li a {
  color: #ffffff;
}
#side-menu{
  margin-top: 65px;
}
#side-menu li{
      border-bottom: 1px solid #6f0b0b;
}
.analytics-info{
  -webkit-box-shadow: 0 6px 6px -6px #777;;
     -moz-box-shadow: 0 6px 6px -6px #777;
          box-shadow: 0 6px 6px -6px #777;
}

.bg-title {
    background: #800000 !important;
    padding: 11px 10px 9px  !important;
    border-top: 1px solid #6f0b0b;

}
.bg-title h4 {

    color: white;
}
#side-menu li a {
  color: #ffffff;
  border-left: 0px solid #fff;
}
#side-menu > li > a {
  border-left: 3px solid transperant;
}
#side-menu > li > a:hover,
#side-menu > li > a:focus {
  background: rgba(0, 0, 0, 0.07);
}
#side-menu > li > a.active {
  background: transperant;
  color: #ffffff;
  border-left: 3px solid #b90000;
  font-weight: 500;
}
#side-menu ul > li > a:hover {
  color: #800000;
}
#side-menu ul > li > a.active {
  color: #54667a;
  font-weight: 500;
}
.user-profile .user-pro-body .u-dropdown {
  color: #54667a;
}
/*themecolor*/
.bg-theme {
  background-color: #707cd2 !important;
}
.bg-theme-dark {
  background-color: #800000 !important;
}
/*Button*/
.btn-custom {
  background: #800000;
  border: 1px solid #800000;
  color: #ffffff;
}
.btn-custom:hover {
  background: #800000;
  opacity: 0.8;
  color: #ffffff;
  border: 1px solid #800000;
}
/*Custom tab*/
.customtab li.active a,
.customtab li.active a:hover,
.customtab li.active a:focus {
  border-bottom: 2px solid #800000;
  color: #800000;
}
.tabs-vertical li.active a,
.tabs-vertical li.active a:hover,
.tabs-vertical li.active a:focus {
  background: #800000;
  border-right: 2px solid #800000;
}
/*Nav-pills*/
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background: #800000;
  color: #ffffff;
}
/*Extra css*/
.bg-theme {
  background-color: #800000 !important;
}
.panel-themecolor,
.panel-theme {
  border-color: #800000;
}
.panel-themecolor .panel-heading,
.panel-theme .panel-heading {
  border-color: #800000;
  color: white;
  background-color: #800000;
}
.panel-themecolor .panel-heading a,
.panel-theme .panel-heading a {
  color: #ffffff;
}
.panel-themecolor .panel-heading a:hover,
.panel-theme .panel-heading a:hover {
  color: rgba(255, 255, 255, 0.5);
}
.panel-themecolor a,
.panel-theme a {
  color: #800000;
}
.panel-themecolor a:hover,
.panel-theme a:hover {
  color: #0791e6;
}


/*Breadcumb*/


    
@media (max-width: 767px) {
    .btn-breadcrumb { margin-left: 10px; margin-right: 10px; width: calc(100% - 20px) !important; }
}

.btn-breadcrumb{
    width: 100%;
    background-color: #fff;
    border-radius: 4px;
    border: solid 1px #ccc;
}
.btn-breadcrumb .btn{
    border-color: transparent; border: 0px solid transparent;
    border-right: 1px solid transparent !important; 
    font-size: 11px;
}

/*.btn-primary,.breadcrumb-primary{ background-color: #460101; }
.btn-primary:hover{background-color: #460101;}
*/
.breadcrumb-success{background-color: #800000;}
.breadcrumb-info{ background-color: #5bc0de; }
.breadcrumb-warning{ background-color: #f0ad4e; }
.breadcrumb-danger{ background-color: #d9534f; }
.breadcrumb-negro{ background-color: #d4d4d4; }

.btn-breadcrumb .btn:last-child {font-weight: bold; text-decoration: underline;}
.btn-breadcrumb .btn:last-child:after{margin-left: -2px;}
.btn-breadcrumb .btn:last-child:before{margin-left: -1px;}

.btn-breadcrumb .btn-derecha{
    float: right;
    margin-right: 0px;
    padding: 6px 10px 6px 10px !important;
    margin-left: 0px !important;
    border-radius: 0px !important; 
}
.btn-breadcrumb .btn-derecha:first-child { 
    border-top-right-radius: 2px !important; 
    border-bottom-right-radius: 2px !important; 
}

.btn-breadcrumb .btn-derecha:after, .btn-breadcrumb .btn-derecha:before{
    content: none !important;
}

.btn-breadcrumb .btn:after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -14px;
  margin-left: 0px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 13px solid transparent;
  border-bottom: 14px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -14px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {padding:6px 12px 6px 24px;}
.btn-breadcrumb .btn:first-child {padding:6px 6px 6px 10px;}
.btn-breadcrumb .btn:last-child {padding:6px 18px 6px 24px;}

/** Default button **/
.btn-breadcrumb .btn.btn-default:after { border-left: 10px solid #800000;}
.btn-breadcrumb .btn.btn-default:hover:after {border-left: 10px solid #e6e6e6;}
.btn-breadcrumb .btn.btn-default:hover:before, .btn-breadcrumb .btn.btn-default:before {border-left: 10px solid #adadad;}


/** Primary button **/
.btn-breadcrumb .btn.btn-primary:after {border-left: 10px solid #460101;}
.btn-breadcrumb .btn.btn-primary:hover:after {border-left: 10px solid #460101;}
.btn-breadcrumb .btn.btn-primary:hover:before, .btn-breadcrumb .btn.btn-primary:before {border-left: 10px solid #460101;}
.breadcrumb-primary{ border: solid 1px #460101; }

/** Success button **/
a.btn-successes{
  color: white !important;
  text-decoration: none;
}
a.btn-successes:hover{
  background: #460101;

}

.btn-breadcrumb .mybtn:after {
    border-left: 10px solid #460101;

}
.btn-breadcrumb .mybtn:before {
    border-left: 10px solid rgb(100, 0, 0);
}
.mybtn{
   background: #460101;
   text-decoration: none;
   color: white !important;
}
.btn-breadcrumb .btn.btn-successes:after {border-left: 10px solid #640000;}
.btn-breadcrumb .btn.btn-successes:hover:after {border-left: 10px solid #460101;}
.btn-breadcrumb .btn.btn-successes:hover:before,.bg-title .btn-breadcrumb .btn.btn-successes:before {border-left: 10px solid #460101 ;}
.bg-title .breadcrumb-success{border: solid 1px #800000 }
.bg-title .btn-successes, .btn-successes.disabled{
  background: #640000 ;
}

/** Danger button **/
.btn-breadcrumb .btn.btn-danger:after {border-left: 10px solid #d9534f;}
.btn-breadcrumb .btn.btn-danger:hover:after {border-left: 10px solid #c9302c;}
.btn-breadcrumb .btn.btn-danger:hover:before, .btn-breadcrumb .btn.btn-danger:before {border-left: 10px solid #ac2925;}
.breadcrumb-danger{ border: solid 1px #ac2925; }

/** Warning button **/
.btn-breadcrumb .btn.btn-warning:after {border-left: 10px solid #f0ad4e;}
.btn-breadcrumb .btn.btn-warning:hover:after {border-left: 10px solid #ec971f;}
.btn-breadcrumb .btn.btn-warning:hover:before, .btn-breadcrumb .btn.btn-warning:before {border-left: 10px solid #d58512;}
.breadcrumb-warning{ border: solid 1px #d58512; }

/** Info button **/
.btn-breadcrumb .btn.btn-info:after {border-left: 10px solid #5bc0de;}
.btn-breadcrumb .btn.btn-info:hover:after {border-left: 10px solid #31b0d5;}
.btn-breadcrumb .btn.btn-info:hover:before, .btn-breadcrumb .btn.btn-info:before {border-left: 10px solid #269abc;}
.breadcrumb-info{ border: solid 1px #269abc; }


.breadcrumb-default {
    border: solid 1px #800000;
}
.breadcrumb-default {
    background-color: #640000;
}
/*notifictaion*/
   .notification {
/*     color: #747F8B;
    font-weight: bold;
    background: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    display: block;
    height: 50px;
        margin-top: 0px;
    padding-top: 10px;



*/
    background: #FFF;
    padding: 15px;
    position: relative;
    text-align: center;
    color: #747F8B;
    font-weight: bold;
    border-radius: 10px 10px 0 0;
    border: 0px;
    border-style: solid;
    border-bottom-width: 1px;
    -moz-border-image: -moz-linear-gradient(right, white, #cedae0, #cedae0, white) 1 20%;
    -o-border-image: -o-linear-gradient(right, white, #cedae0, #cedae0, white) 1 20%;
    border-image: linear-gradient(to right, white 0%, #cedae0 40%, #cedae0 60%, white 100%) 1 20%;
    box-shadow: 0px 2px 10px -2px #cedae0;
    margin-top: -6px;
   }

.jq-toast-single {
  display: none !important;
}
.notification-menu{
  border-radius: 10px;
    margin-top: 0px;
    background: #e9f0f3;
        padding-bottom: 0px !important;
}
.notification-menu-item{
  padding-left: 0px;
  text-align: center;
}


.notification-menu-item li {
    border: 0px;
    border-style: solid;
    border-bottom-width: 1px;
    border-color: #d8d8d8;
    padding: 15px;
}
.notification-menu-item li a{
display: block;
  vertical-align: middle;
  color: #747F8B;
  cursor: pointer;
  font-size: 14px;
  word-spacing: 2px;
  line-height: 21px;
}

.notification-menu-item .time{
    font-size: 12px;
    color: #929292;
    margin: 0px;
}

.notification-menu-item li:hover {
box-shadow: 1px 1px 10px #d2d2d2;
cursor: pointer;
}

/*animation */

.notification-menu {
   -webkit-animation-duration: .4s;
   animation-duration: .4s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
   0% {
      opacity: 0;
      -webkit-transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      -webkit-transform: translateY(0);
   }
}

@keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}

.fadeInDown {
   -webkit-animation-name: fadeInDown;
   animation-name: fadeInDown;
}

/*table*/



h1{
  font-size: 30px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 300;
  text-align: center;
  margin-bottom: 15px;
}
table{
  width:100%;
  table-layout: fixed;
}
.tbl-header{
  background-color: rgba(255,255,255,0.3);
 }
.tbl-content{
  height:400px;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(255,255,255,0.3);
}
.mytable th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
}
.mytable td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #fff;
  border-bottom: solid 1px rgba(255,255,255,0.1);
}


/* demo styles */

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #25c481, #25b7c4);
  background: linear-gradient(to right, #25c481, #25b7c4);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}


.mytable{
      background: -webkit-linear-gradient(left, #800000, #640000);
    background: linear-gradient(to right, #800000, #640000);
}

/* for custom scrollbar for webkit browser*/

::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}


/*Panel*/

.shape{ 
  border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
  -ms-transform:rotate(360deg); /* IE 9 */
  -o-transform: rotate(360deg);  /* Opera 10.5 */
  -webkit-transform:rotate(360deg); /* Safari and Chrome */
  transform:rotate(360deg);
}
.offer{
  background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow:hidden;
}
.offer-radius{
  border-radius:7px;
}
.offer-danger { border-color: #d9534f; }
.offer-danger .shape{
  border-color: transparent #d9534f transparent transparent;
  border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-success {  border-color: #5cb85c; }
.offer-success .shape{
  border-color: transparent #5cb85c transparent transparent;
  border-color: rgba(255,255,255,0) #5cb85c rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-default {  border-color: #999999; }
.offer-default .shape{
  border-color: transparent #999999 transparent transparent;
  border-color: rgba(255,255,255,0) #999999 rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-primary {  border-color: #fff; }
.offer-primary .shape{
  border-color: transparent #428bca transparent transparent;
  border-color: rgba(255,255,255,0) #428bca rgba(255,255,255,0) rgba(255,255,255,0);
}

.offer-sayft {  border-color: #630000; }
.offer-sayft .shape{
  border-color: transparent #630000 transparent transparent;
  border-color: rgba(255,255,255,0) #630000 rgba(255,255,255,0) rgba(255,255,255,0);
}





.offer-info { border-color: #5bc0de; }
.offer-info .shape{
  border-color: transparent #5bc0de transparent transparent;
  border-color: rgba(255,255,255,0) #5bc0de rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-warning {  border-color: #f0ad4e; }
.offer-warning .shape{
  border-color: transparent #f0ad4e transparent transparent;
  border-color: rgba(255,255,255,0) #f0ad4e rgba(255,255,255,0) rgba(255,255,255,0);
}

.shape-text{
  color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
  -ms-transform:rotate(30deg); /* IE 9 */
  -o-transform: rotate(360deg);  /* Opera 10.5 */
  -webkit-transform:rotate(30deg); /* Safari and Chrome */
  transform:rotate(30deg);
} 
.offer-content{
  padding:0 20px 10px;
}